<div class="share">
		<span class="share_txt">Share this post：</span>

        <a onclick="window.open(this.href, 'facebook-share', 'width=550,height=400');return false;" href="https://www.facebook.com/sharer/sharer.php?u=http://thiagoalvernaz.github.io/<%- url_for(post.path) %>"><i class="fa fa-facebook-square"></i></a>

        <a onclick="window.open(this.href, 'google-share', 'width=550,height=400');return false;" href="https://plus.google.com/share?url=http://thiagoalvernaz.github.io/<%- url_for(post.path) %>"><i class="fa fa-google-plus-square"></i></a>

        <a onclick="window.open(this.href, 'twitter-share', 'width=550,height=400');return false;" href="http://twitter.com/share?url=http://thiagoalvernaz.github.io/<%- url_for(post.path) %>"><i class="fa fa-twitter-square"></i></a>
</div>