#page-nav{
	text-align: center;
	.page-number{
		width: 30px;
		height: 25px;
		background: #B2B2B2;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		display: inline-block;
		color: #fff;
		line-height: 25px;
		font-size: 15px;
		margin: 0 4px 30px;
		&:hover{
			background: #5e5e5e;
		}
	}
	.current{
		background: #179DAE;
		cursor: default;
		&:hover{
			background: #88acdb;
		}
	}
	.extend{
		color: #4d4d4d;
		margin: 0 27px;
		opacity: 0;
		&:hover{
			color: #5e5e5e;
		}
	}
	&:hover{
		.extend{
			opacity: 1;
		}
	}
}