.share {
	padding: 0px 75px 30px 40px;
	.share_txt{
		float: left;
		margin-top: 8px;
	}
	a{
		color: #969899;
		font-size: 30px;
		margin-right: 5px;
	}
	a:hover{
		color: #179dae;
		-webkit-transition: color 1s;
		-moz-transition: color 1s;
		-o-transition: color 1s;
		-webkit-transition: color 1s;
		-moz-transition: color 1s;
		-ms-transition: color 1s;
		-webkit-transition: color 1s;
		-moz-transition: color 1s;
		-ms-transition: color 1s;
		transition: color 1s;
	}
}
.back_home{
	float: right;
}
.back_home a{
	font-weight: bold;
	margin-left: 10px;
}
.back_home a:hover{
	color: #6e6e6e;
}